
@{
    SEO seo = ViewBag.SEO as SEO;
    ViewBag.Title = seo != null ? seo.Title : "澳门银河";
    ViewBag.Keywords = seo != null ? seo.Keywords : "";
    ViewBag.Description = seo != null ? seo.Description : "";

    User user = ViewBag.User as User;
}
@section styles{
    @Styles.Render("~/bundles/Stylesalert")
}
@section scripts_head{
    @Scripts.Render("~/bundles/Scriptsforgetpwd")
    @Scripts.Render("~/bundles/Scriptsalert")
}
<!-- 页面主体 开始-->
<!-- 频道banner开始 -->
<div class="pdbanner">
    <div class="divc w1000 tc c">
        <img src="/Content/images/b_aboutus.png" alt="" />
    </div>
</div>
<!-- 频道banner结束 -->
@Html.Partial("_Notice")
<div id="zhaohui1" class="divc w1000 pt15 clearfix">
    <!-- 第二步开始 -->
    <div id="zhaohui1" class="aboutr registw ffw divc singlecon fpwdw">
        <div class="t">
            <p class="cn shuang">
                <span class="shuang">密码找回</span>
            </p>
            <p class="en"></p>
        </div>
        <div class="c f14">
            <ul class="fpwdbz tc hui">
                <li class="iblock item1">确认账户</li>
                <li class="iblock item2">安全验证</li>
                <li class="iblock item3 on">密码重置</li>
            </ul>
            <input type="hidden" id="type" value="@ViewBag.Type" />
            <input type="hidden" id="userName" value="@user.UserName" />
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                    <td width="200" class="tr">新密码：</td>
                    <td width="300">
                        <input id="newpwd" name="newpwd" type="password" class="bginput" placeholder="6-15位，由字母，数字，或特殊字符组成" />
                    </td>
                    <td width="200" class="helptext"></td>
                </tr>
                <tr>
                    <td width="200" class="tr" placeholder="重复新密码">确认密码：</td>
                    <td width="300">
                        <input id="confirmNewPwd" name="confirmNewPwd" type="password" class="bginput" />
                    </td>
                    <td width="200" class="helptext"></td>
                </tr>
                <tr>
                    <td width="200" class="tr">验证码：</td>
                    <td width="300">
                        <input id="securitycode" name="securitycode" type="text" class="bginput" />
                    </td>
                    <td width="200" class="helptext"></td>
                </tr>
                <tr>
                    <td class="tr">&nbsp;</td>
                    <td>
                        <input id="prevzh2"  type="submit" value="上一步" class="btn-md fl" style="width: 148px;" />
                        <input type="submit" id="btn_save" value="完成" class="btn-md fr" style="width: 148px;" />
                    </td>
                    <td class="helptext">&nbsp;</td>
                </tr>
                <tr>
                    <td class="tr">&nbsp;</td>
                    <td>
                        如用户名也忘记请联系<a href="javascript:void(0);" name="top_livechat" class="shuang">24小时在线客服</a>协商解决
                    </td>
                    <td class="helptext">&nbsp;</td>
                </tr>
            </table>
        </div>
    </div>
    <!-- 第二步结束 -->
    <!-- 表单验证开始 -->
    <script src="/Scripts/page/home/checkinput.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#prevzh2').click(function () {
                parent.history.back();
                return false;
            });
        });
    </script>
    <!-- 表单验证结束 -->
</div>
<!-- 页面主体 结束-->