@using YHC.Portal.Core
@using YHC.Portal.Extensions
@{
    ViewBag.Title = "银行转账";
    ViewBag.TopMenu = "icon_nav_bank";
    Layout = "~/Views/User/_LayoutUserPage.cshtml";

    User user = ViewBag.User as User;
    IList<ThirdPay> paies = ViewBag.Pies as IList<ThirdPay>;
    IList<Promo> prefInfos = ViewBag.PrefInfos as List<Promo>;

    // 支付宝/微信支付
    // 支付宝/微信支付
    var alipayBanks = ViewBag.AliPay as List<AdminBank>;
    var wechatBank = ViewBag.WebChat as List<AdminBank>;
}
<div class="eveb_content">
    <ul class="eveb_nav_sub">
        @if (paies != null && paies.Count > 0)
        {
            foreach (var item in paies)
            {
                if (item.ThirdPayCode == ThirdPayPlatFormEnum.DINWXPAY.ToString())
                {
                    <li id="td_menuc6"><a href="/user/dinwxpay.html">@item.MerName</a></li>
                    continue;
                }
                if (item.ThirdPayCode == ThirdPayPlatFormEnum.XBEIWXPAY.ToString())
                {
                    <li id="td_menuc7"><a href="/user/xbeiwxpay.html">@item.MerName</a></li>
                    continue;
                }
                <li><a href="/user/depositonline.html?id=@(item.Id)">@(item.MerName)</a></li>
            }
        }
        <li><a href="/user/deposit.html">银行转账</a></li>
        @if (alipayBanks != null && alipayBanks.Count > 0)
        {
            <li class="on"><a href="/user/depositalipay.html">支付宝</a></li>
        }
        @if (wechatBank != null && wechatBank.Count > 0)
        {
            <li><a href="/user/depositwechat.html">微信支付</a></li>
        }
    </ul>
    </div>
    <div class="eveb_content">
        <h2><i class="icon_medium icon_bank"></i>支付宝</h2>
        <form name="eveb_bank">
            <ul class="eveb_form">
                <li>
                    <div id="Cars3" class="desc">

                        <div class="bank-note">
                            <h3>支付宝转账操作步骤：</h3>
                            <ul>
                                <li>1. 选择收款银行</li>
                                <li>2. 复制或输入银行卡号</li>
                                <li>3. 确定交易完成后，填写入款申请表（交易完成时间一般在<font color="red">3分钟左右</font>)</li>
                                <br>
                                <p style="height:auto">备注：特殊时间段：<font color="red">晚上23：30-凌晨00：40</font>，该时间段内款项无法到账。</p>
                                <p class="red">*最低存款 @user.AliPayMinAmount.RoundOfChina() 元</p>
                            </ul>
                        </div>

                        <p>
                            <label for="" class="la_title">选择收款银行：</label>
                            <select name="alipay_receiveBank" id="alipay_receiveBank" style="width:216px; height:25px">
                                <option value="">请选择</option>
                                @foreach (var item in alipayBanks)
                                {
                                    <option value="@(item.Id)" bankaccountname="@(item.AccountName)" bankaccountno="@(item.AccountNo)" bankname="@item.BankName" openingbank="@item.OpeningBank">[@(item.BankName)] @(item.AccountName) @(item.AccountNoFormat)</option>
                                }
                            </select>
                        </p>

                        <div class="clearfix"></div>

                        <p>
                            <label for="" class="la_title">收款人：</label>
                            <label class="la_cp" style="color:#0570D8; font-size:14px" id="lbl_alipay_accountName"></label>
                            <input id="cp1" type="button" class="button" value="复制" />
                        </p>

                        <p>
                            <label for="" class="la_title">开户行：</label>
                            <label class="la_cp" style="color:#0570D8; font-size:14px" id="lbl_alipay_openbankName"></label>
                            <input id="cp2" type="button" class="button" value="复制" />
                        </p>

                        <p>
                            <label for="" class="la_title">卡号：</label>
                            <label class="la_cp" style="color:#0570D8; font-size:14px" id="lbl_alipay_accountNo"></label>
                            <input id="cp3" type="button" class="button" value="复制" />
                        </p>

                        <p>
                            <label for="" class="la_title">请填存款人姓名：</label>
                            <input type="text" size="25" id="alipay_accountName" value="@(user == null ? string.Empty : user.TrueName)" />
                        </p>

                        <p>
                            <label for="" class="la_title">请输入存款金额：</label>
                            <input type="text" size="25" onkeyup='this.value=this.value.replace(/[^\d\.]/g,"")' ondragenter="return false" onpaste="return !clipboardData.getData('text').match(/\D/)" id="alipay_amount" />
                            <input name="transType_alipay" id="transType_alipay" type="hidden" value="@((int)TransferType.Alipay)" />
                        </p>
                        @if (prefInfos != null && prefInfos.Count > 0)
                        {
                            <label for="" class="la_title">可选优惠：</label>

                            <div class="eveb_form_box">
                                <p style="height: 30px;"><label><input id="pref_selNobonus_none" name="alipay_prefKey" type="radio" class="checkbox" value="" checked="checked" /> 不参加优惠</label></p>
                                @foreach (var item in prefInfos)
                                {
                                    <p style="height: 30px;"><label for="pref_@(item.Id)"><input id="pref_@(item.Id)" name="alipay_prefKey" type="radio" class="checkbox" value="@(item.PreferentialKey)" /> @(item.PreferentialTitle)</label></p>
                                }
                            </div>
                            <font id="preferentialTxt" class="youhui_info cred" style="display: inline-block;"></font>
                        }
                        <script type="text/javascript">
                            $(document).ready(function () {
                                function copyToClipboard(text) {
                                    window.prompt("复制到剪贴板: Ctrl+C, Enter", text);
                                }

                                $('#cp1').click(function () {
                                    copyToClipboard($('#lbl_alipay_accountName').html());
                                });
                                $('#cp2').click(function () {
                                    copyToClipboard($('#lbl_alipay_openbankName').html());
                                });
                                $('#cp3').click(function () {
                                    copyToClipboard($('#lbl_alipay_accountNo').html());
                                });
                            });
                        </script>
                    </div>
                </li>
            </ul>
            <div class="eveb_form_submit">
                <div class="passKuangWrap mt20 mb20"></div>
                <input type="button" class="button_medium button_1" id="alipay_save" value="提交">
                <span class="white" style="margin-left:20px">即时支付即时到账，支付过程有问题，请联系<a href="javascript:void(0);" name="top_livechat"><span class="red">在线客服</span></a></span>
            </div>
            <input type="hidden" id="hidAliPayMinAmount" value="@user.AliPayMinAmount.RoundOfChina()" />
            <input type="hidden" id="hidAliPayMaxAmount" value="@user.AliPayMaxAmount.RoundOfChina()" />
        </form>
    </div>

    <!--弹窗 黑底-->
    <div class="eveb_popup_wrap"></div>
    <!--弹窗 银行存款成功-->
    <div class="eveb_popup" id="eveb_popup_bank_ok">
        <div class="eveb_popup_hd">
            <h4 class="fl">银行转款</h4>
            <a href="javascript:;" class="icon_mini icon_close fr" title="关闭"></a>
        </div>
        <div class="eveb_popup_bd">
            <div class="eveb_popup_content">
                <span><i class="icon_big icon_ok_3"></i></span>
                <p>恭喜您，成功提交存款单！单号：<strong class="green" id="orderId">loading...</strong></p>
                <p>转账成功后，请即时联系在线客服为您添加额度。</p>
            </div>
            <div class="eveb_popup_btn">
                <a name="pop_close" id="pop_close" href="javascript:;" class="button_medium button_1">知道了</a>
                <a href="/user/depositlist.html" class="button_medium button_3">查看记录</a>
                <a href="/user/transfer.html" class="button_medium button_3">前往转账</a>
            </div>
        </div>
    </div>

    @section EndScripts{
        <script type="text/javascript">
            // 转账类型
            var _TRANS_TYPE = {
                online: '@((int)TransferType.OnlineBank)',
                mobile: '@((int)TransferType.MobileBank)',
                atmtrans: '@((int)TransferType.ATMTrans)',
                atmdeposit: '@((int)TransferType.ATMDeposit)',
                bank: '@((int)TransferType.BankCounter)'
            };
        </script>

        @Url.RenderScriptFile("/scripts/user/depositalipay.js")
        @Url.RenderScriptFile("/scripts/lib/zclip/jquery.zclip.js")
    }
