@using YHC.Portal.Extensions;
@{
    ViewBag.Title = "站内信";
    ViewBag.TopMenu = "icon_nav_letter";
    Layout = "~/Views/User/_LayoutUserPage.cshtml";

    Config config = ViewBag.Config as Config;
    
    Int32 unReadedCount = Convert.ToInt32(ViewBag.UnReadedCount);
    Int32 allCount = Convert.ToInt32(ViewBag.AllCount);
    Int32 readCount = Convert.ToInt32(ViewBag.ReadCount);

    DateTime beginTime = ViewBag.BeginTime;
    DateTime endTime = ViewBag.EndTime;
}

<div class="eveb_content">
	<h2>@*<a href="javascript:;" class="button_medium button_1 fr">我要留言</a>*@<i class="icon_medium icon_letter"></i>站内信</h2>
	<div class="eveb_sub_nav">
		<ul class="eveb_sub_nav_type fl">
			<li class="on"><a id="showAll" href="javascript:;">全部 (<em>@(allCount)</em>)</a></li>
			<li><a id="showUnReaded" href="javascript:;">未读 (<em>@(unReadedCount)</em>)</a></li>
            <li><a id="showReaded" href="javascript:;">已读 (<em>@(readCount)</em>)</a></li>
			@*<li><a href="javascript:;">我的留言 <em>(32)</em></a></li>*@
		</ul>
		<div class="eveb_search">
			起止时间：
			<input id="beginTime" type="text" size="10" class="Wdate" onfocus="WdatePicker({ minDate:'@(beginTime.ToString("yyyy-MM-dd"))}',maxDate:'#F{$dp.$D(\'endTime\')||\'%y-%M-%d\'}' })" value="@(beginTime.ToString("yyyy-MM-dd"))" /> 
            - 
            <input id="endTime" type="text" size="10" class="Wdate" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'beginTime\')|| \'%y-%M-{%d-@(config.CustomerQueryTime-1)}\'}',maxDate:'%y-%M-%d' })" value="@(endTime.ToString("yyyy-MM-dd"))" />
			<a id="refreshDataList" href="javascript:;" class="button_small button_1">筛选</a>
			<a id="theDay" href="javascript:;" class="button_small button_4">今日</a>
			<a id="threeDay" href="javascript:;" class="button_small button_4">3天</a>
			<a id="theWeek" href="javascript:;" class="button_small button_4">本周</a>
            <input id="status" type="hidden" value="" />
		</div>
	</div>
	<ul class="eveb_letter_list" id="mainBody">
        <li>
			<div class="eveb_letter_title" style="text-align:center">
				<span>正在加载数据...</span>
			</div>
		</li>
        <textarea name="template_jst_list" id="template_jst_list" style="display: none" cols="0" rows="0">
        {var index = 0}
        {for t in list}
		<li>
			<div class="eveb_letter_title">
				<span class="fl">
					<input type="checkbox" name="Ids" value="${t.Id}" status="${t.Status}"/>
					<a href="javascript:;" {if (t.Status == 0) } class="new" {/if}>${t.Message.replace(/<[^>]+>/g,"").substring(0,20)}</a>
                    {if (t.Status == 0) }
					<em>新</em>
                    {/if}
				</span>
				<span class="fr">${Date.fromJson(t.SendTime).format("yyyy-MM-dd")}</span>
			</div>
			<div class="detail">
				<p>${t.Message}</p>
				<div class="eveb_letter_control">
					@*<a href="#;" class="button_small button_3">留言</a>*@
					<a name="deleteMessage" href="javascripts:;" class="button_small button_3 delete_confirm" msgid="${t.Id}">删除</a>
					@*<a name="readMessage" href="javascripts:;" class="button_small button_3 readed_confirm" msgid="${t.Id}">标记为已读</a>*@
				</div>
			</div>
		</li>
        {forelse}
        <li>
			<div class="eveb_letter_title" style="text-align:center">
				<span>没有符合条件的记录</span>
			</div>
		</li>
        {/for}
        </textarea>
	</ul>
	<div class="eveb_list_footer">
		<div class="eveb_list_select fl">
			<label><input type="checkbox" id="selectAll" /> 全选</label>
			<a id="btnDelete" href="javascript:;" class="button_small button_3 delete_confirm">删除</a>
			<a id="btnRead" href="javascript:;" class="button_small button_3 readed_confirm">标记为已读</a>
		</div>
		<!--分页start-->
        <div id="pagination" class="fr"></div>
        <!--分页end-->
	</div>
</div>

@section EndScripts{
    <script type="text/javascript">
        // 转账类型
        var _MESSAGE_STATUS = {
            Read: '@((int)YHC.Portal.Core.MessageStatus.Read)',
            UnRead: '@((int)YHC.Portal.Core.MessageStatus.Unread)'
        };
    </script>
    @Url.RenderScriptFile("/scripts/lib/template/trimpath-template.js")
    @Url.RenderScriptFile("/scripts/lib/datepicker/WdatePicker.js")
    @*@Url.RenderScriptFile("/scripts/user/pagination/jquery.pagination.js")*@
    @Url.RenderScriptFile("/scripts/user/jquery.alerts.js")
    @Url.RenderScriptFile("/scripts/user/common.reportdate.js")
    @Url.RenderScriptFile("/scripts/user/messagelist.js")
}