<div class="fl aboutl">
    <div class="c">
        <div class="wraperh tc">
            <img src="/Content/images/aboutlogo.png" alt="" />
        </div>
        <ul class="anav ffw">
            <li>
                <a href="about.html" class="@(ViewBag.Page == "About" ? "on" : "") item1">
                    <p class="cn">关于我们</p>
                    <p class="en">About us</p>
                </a>
            </li>
            <li>
                <a href="contact.html" class="@(ViewBag.Page == "Contact" ? "on" : "") item2">
                    <p class="cn">联系我们</p>
                    <p class="en">Contact us</p>
                </a>
            </li>
            <li>
                <a href="guide.html" class="@(ViewBag.Page == "Guide" ? "on" : "") item3">
                    <p class="cn">新手指南</p>
                    <p class="en">New hand</p>
                </a>
            </li>
            <li>
                <a href="provision.html" class="@(ViewBag.Page == "Provision" ? "on" : "") item4">
                    <p class="cn">隐私保护</p>
                    <p class="en">Privacy Policy</p>
                </a>
            </li>
            <li>
                <a href="preferential.html" class="@(ViewBag.Page == "Preferential" ? "on" : "") item5">
                    <p class="cn">优惠条款</p>
                    <p class="en">Preferential</p>
                </a>
            </li>
            <li>
                <a href="privacy.html" class="@(ViewBag.Page == "Privacy" ? "on" : "") item6">
                    <p class="cn">责任条款</p>
                    <p class="en">Responsibility</p>
                </a>
            </li>
            <li>
                <a href="help.html" class="@(ViewBag.Page == "Help" ? "on" : "") item7">
                    <p class="cn">游戏帮助</p>
                    <p class="en">Help Game</p>
                </a>
            </li>
            <li>
                <a href="alternate_url.html" class="@(ViewBag.Page == "Alternate" ? "on" : "") item10">
                    <p class="cn">备用网址</p>
                    <p class="en">Alternate URL</p>
                </a>
            </li>
            <li>
                <a href="notice.html" class="@(ViewBag.Page == "Notice" ? "on" : "") item8">
                    <p class="cn">最新公告</p>
                    <p class="en">Notice</p>
                </a>
            </li>
        </ul>
        <div class="bline"></div>
    </div>
</div>